@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white-100: #dfdfdf;
  --grey-50: #a9a9a9;
  --green-100: #15bd81;
  --green-200: #1c791c;
  --green-150: rgba(0, 106, 68, 0.35);
  --red-500: #832424;
  --backdrop-filter: rgba(2, 2, 2, 0.6);
  --green-500: #012f19;
}

body {
  font-family: "DM Sans", sans-serif;
  color: var(--white-100);
  background: radial-gradient(circle at center, #0f3726, #03210e);
}
